[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
scipy = "*"
numpy = "*"
"d3m" = {git = "https://gitlab.com/datadrivendiscovery/d3m.git", editable = true, ref = "devel"}

[dev-packages]
testfixtures = "*"
pytest = "*"

[requires]
python_version = "3.6"
